// .login .template-minimal__wrap .login__brand{
//     display: none;
//   }

  .box_login{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    img{
      justify-content: center;
      width:30%;
    }
  }